<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body style="background-color: rgb(242, 243, 181);">
    <header style="background-color: rgb(255, 255, 60)">
        <img src="./images/logo-mercado-liebre.svg" width="400" alt="logo">
        <b><p style="text-align: center;">Compra en cuotas y sin tarjeta de credito</p></b>
        <section>
        <nav>
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
        </nav>
        <nav>
            <ul>
                <li><a href="">Crea tu cuenta</a></li>
                <li><a href="">Ingresa</a></li>
                <li><a href="">Mis Compras</a></li>
            </ul>
        </nav>
    </section>
    </header>
    <img src="./images/img-home-banner.jpg" width="400" alt="banner"> 
    <main>
        <section>   <!-- productos de oferta -->
            <h1>Seccion de Ofertas</h1>
            <article>
                <img src="./images/img-cafetera-moulinex.jpg" alt="Cafetera" width="400">
                <h2>$6.670</h2>
                <h3 style="color:rgb(17, 146, 0);">40% OFF</h3>
                <b><div>Cafetera Moulinex</div></b>
                <img src="" alt="">
            </article>
            <article>
                <img src="./images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" width="400">
                <h2>$230.000</h2>
                <h3 style="color:rgb(17, 146, 0);">20%OFF</h3>
                <b><div>MacBook Pro 2019</div></b>
                <img src="" alt="">
            </article>
            <article>
                <img src="./images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" width="400">
                <h2>$70.500</h2>
                <h3 style="color:rgb(17, 146, 0);">10%OFF</h3>
                <b><div>Samsung Galaxy S10</div></b>
                <img src="" alt="">
            </article>
            <article>
                <img src="./images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43''" width="400">
                <h2>$23.200</h2>
                <h3 style="color:rgb(17, 146, 0);">5%OFF</h3>
                <b><div>SmartTv Samsung 43"</div></b>
                <img src="" alt="">
            </article>
        </section>
    </main>
    <aside>

    </aside>
    <footer style="background-color: rgb(255, 255, 255);">
        <b><p>Pagá con tarjeta o en efectivo</p></b>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        <b><p>Envío gratis desde $2.500</p></b>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        <b><p>Seguridad, de principio a fin</p></b>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        <b><p>Copyright © 1999-2020 MercadoLiebre S.R.L</p></b>
    </footer>
</body>
</html>